name: build-site

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  site-builder:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2
      - run: Rscript -e 'install.packages(c("remotes", "rmarkdown", "pkgdown"), dependencies = TRUE)'
      - run: Rscript -e 'remotes::install_github("openscapes/kyber@main")'
      - run: Rscript -e 'pkgdown::build_site()'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: kyber website updated